<div class="container">
<div class='row'>
  <h1 class='text-center'>My Budget App</h1>
</div>

<div class='d-flex justify-content-center splash'>
  <button class='btn btn-success m-1'><%= link_to 'LOG IN', new_user_session_path %></button>
  <button class='btn btn-success m-1'><%= link_to 'SIGN UP', new_user_registration_path %> </button>
</div>
</div>